{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assets/css/index.css">
<link rel="stylesheet" type="text/css" href="/assets/css/product.css">
{{/section}}

{{#if noProducts}}
<div class="noproduct-container">
    <img src="/image/no-products-found.png" height="240px">
    <p class="noproduct-message">Không tìm thấy sản phẩm theo yêu cầu.</p>
</div>
{{else}}
<form id="frmAddToCart" method="post" action="/product">
    <input id="txtProId" type="hidden" name="proId">
</form>
<div class="container-fluid">
    <div class="col-lg-2 col-sm-2 well">
        <form method="get" action="/product/search-advantage">
            <input type="text" name="name" class="form-control" placeholder="Nhập tên sản phẩm">
            <button type="submit" class="btn btn-primary btn-search">
                <i class="glyphicon glyphicon-search"></i> Tìm kiếm
            </button>
            <h4>Loại sản phẩm</h4>
            {{#each layoutVM.categories}}
            <div class="checkbox">
                <label><input type="checkbox" name="catId" value="{{CatID}}"> {{CatName}}</label>
            </div>
            {{/each}}
            <hr>
            <h4>Nhà sản xuất</h4>
            {{#each layoutVM.manufacturers}}
            <div class="checkbox">
                <label><input type="checkbox" name="manId" value="{{ManID}}"> {{ManName}}</label>
            </div>
            {{/each}}
            <hr>
            <h4>Mức giá</h4>
            <div class="radio">
                <label><input type="radio" name="price" value="1"> Dưới 1 triệu</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="price" value="2"> Từ 1-5 triệu</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="price" value="3"> Từ 5-10 triệu</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="price" value="4"> Từ 10-15 triệu</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="price" value="5"> Trên 15 triệu</label>
            </div>
        </form>
    </div>
    <div class="col-lg-10 col-sm-10">
        <div class="row" >
            {{#each products}}
            <div class="col-lg-3 col-sm-3  dien-thoai may-tinh-bang">
                <div class="card">
                    <img class="card-img-top" src="/image/products/{{ProID}}/thumb.jpg" alt="{{ProName}}" title="{{ProName}}">
                    <div class="card-body">
                        <h2 class="card-title">{{ProName}}</h2>
                        <p class="price">
                            <strong>{{number_format Price}}₫</strong>
                        </p>
                        <a href="/product/detail/{{ProID}}" class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                            Chi tiết 
                        </a>
                        {{#if ../layoutVM.isLogged}}
                        <a class="btn btn-danger lnkAdd" href="javascript:;" role="button" data-proid="{{ProID}}">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            Mua
                        </a>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="card-li">
            <ul class="pagination">
                <li class="disabled">
                    <a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a>
                </li>
                {{#each page_numbers}}
                    {{#if isCurPage}}
                        <li class="active"><a href="javascript:;">{{value}}</a></li>
                    {{else}}
                        <li><a href="?page={{value}}">{{value}}</a></li>
                    {{/if}}
                {{/each}}
                <li>
                    <a href="#" aria-label="Next"><span aria-hidden="true">»</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{/if}}
{{#section 'js'}}
<script type="text/javascript">
    $('.lnkAdd').on('click', function() {
        var id = $(this).data('proid');
        $('#txtProId').val(id);
        $('#frmAddToCart').submit();
    });

    $('#body').css('opacity', 0);
    $(window).load(function() {
        $('#body').css('opacity', 1);
    });
</script>

{{#if isAlert}}
<script type="text/javascript">
    setTimeout(function() {
        alert("{{alertMessage}}");
    }, 300);
    
</script>
{{/if}}
{{/section}}