{{#section 'title'}}
<h3>Quản lý sản phẩm</h3>
<a class="btn btn-primary" href="/admin/product/add" role="button">
	<span class="glyphicon glyphicon-plus"></span> Thêm sản phẩm
</a>
{{/section}}

<table class="table table-hover table-bordered table-striped" id="table_product">
	<thead>
		<tr>
			<th class="td_center">Mã sản phẩm</th>
			<th class="td_center">Tên sản phẩm</th>
			<th class="td_center">Giá</th>
			<th class="td_center">Số lượng bán</th>
			<th class="td_center">Số lượng còn lại</th>
			<th class="td_center">Ngày tiếp nhận</th>
			<th class="td_center">Số lượt xem</th>
			<th class="td_center">Xuất xứ</th>
			<th>&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{{#each products}}
		<tr>
			<td class="td_center td_bold">{{ProID}}</td>
			<td class="td_bold">{{ProName}}</td>
			<td class="td_center">{{number_format Price}}</td>
			<td class="td_center">{{Sold}}</td>
			<td class="td_center">{{Quantity}}</td>
			<td class="td_center">{{ReceiveDate}}</td>
			<td class="td_center">{{View}}</td>
			<td>{{Origin}}</td>
			<td class="td_center">
				<a class="btn btn-warning btn-sm" href="/admin/product/edit?id={{ProID}}" role="button">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
				<a class="btn btn-danger btn-sm" href="/admin/product/delete?id={{ProID}}" role="button">
					<span class="glyphicon glyphicon-trash"></span>
				</a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>